In [ ]:
import pandas as pd   #تتعامل مع الداتا ك object + و تتعامل مع الداتا ف شكل صفوف و اعمده

The pandas series object

Series

california  33345
florida     170312
illinois    149999
new york    123456
texas       145920

DaTaframe

            area   population
california  33345   123456
florida     170312  464321
illinois    149999  355940
new york    123456  134093
texas       145920  223048   col in dataframeالفرق بينهم هما الاتنين ان ف اسماء لل

In [ ]:
#created series from list
data=pd.Series([1,2,3,4])
data

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
#convert it to numpy array
print(data.values)
print(type(data.values))

[1 2 3 4]
<class 'numpy.ndarray'>

In [ ]:
data[3]

4

In [ ]:
#custom indexing عايز انت تحدد اسماء الindex in series

data=pd.Series([1,2,3,4],index=['first','second','third','fourth'])
data

first     1
second    2
third     3
fourth    4
dtype: int64

In [ ]:
data['third']

3

A series from a python dictionary

In [ ]:
data={'california': 33345
,'florida': 170312
,'illinois':149999
,'new york':123456
,'texas':145920
}
data

{'california': 33345,
 'florida': 170312,
 'illinois': 149999,
 'new york': 123456,
 'texas': 145920}

In [ ]:
data=pd.Series(data)
data

california     33345
florida       170312
illinois      149999
new york      123456
texas         145920
dtype: int64

In [ ]:
data['california']

33345

In [ ]:
data['california':'new york']

california     33345
florida       170312
illinois      149999
new york      123456
dtype: int64

In [ ]:
data[0:3]

california     33345
florida       170312
illinois      149999
dtype: int64

# DataFrame

In [ ]:
#creating dataframe from series
dict={'california': 33345
,'florida': 170312
,'illinois':149999
,'new york':123456
,'texas':145920
     }
population=pd.Series(dict)
population

california     33345
florida       170312
illinois      149999
new york      123456
texas         145920
dtype: int64

In [ ]:
dict2={'california': 333
,'florida': 170
,'illinois':149
,'new york':123
,'texas':145}
area=pd.Series(dict2)
area

california    333
florida       170
illinois      149
new york      123
texas         145
dtype: int64

In [ ]:

pd.DataFrame({'population':population,'area':area})

            population  area
california       33345   333
florida         170312   170
illinois        149999   149
new york        123456   123
texas           145920   145

In [ ]:
#creating dataframe from py dictionaries
data=pd.DataFrame({'population':[33345,170312,149999,123456,145920],'area':[333,170,149,123,145]},index= ['california','florida','illinois','new york','texas'])
data

            population  area
california       33345   333
florida         170312   170
illinois        149999   149
new york        123456   123
texas           145920   145

to get the name of rows

In [ ]:
data.index

Index(['california', 'florida', 'illinois', 'new york', 'texas'], dtype='object')

to get the name of rows

In [ ]:
data.columns

Index(['population', 'area'], dtype='object')

In [ ]:
data['area']

california    333
florida       170
illinois      149
new york      123
texas         145
Name: area, dtype: int64

In [ ]:
type(data['area'] )

pandas.core.series.Series

In [ ]:
data['area']['california']

333

In [ ]:
#creating dataframe from a single series object
pd.DataFrame({'area':area})

            area
california   333
florida      170
illinois     149
new york     123
texas        145

In [ ]:
#creating dataframe from a list of dictionary
data=[{'a':1,'b':2},
     {'c':3,'d':4}
     ]
pd.DataFrame(data,index=['one','two'])

       a    b    c    d
one  1.0  2.0  NaN  NaN
two  NaN  NaN  3.0  4.0

In [ ]:
#creating dataframe from 2d numpy array
import numpy as np
arr=np.random.randint(1,20,30).reshape(10,3)
arr

array([[18,  6, 13],
       [17,  5, 11],
       [15, 17, 10],
       [ 3, 16,  2],
       [18,  3,  4],
       [17,  9,  1],
       [13,  9,  2],
       [ 9, 15,  5],
       [17, 17,  1],
       [ 3, 15, 17]])

In [ ]:
pd.DataFrame(arr,columns=['age','len','width'],index=[i*2 for i in range(10)])

    age  len  width
0    18    6     13
2    17    5     11
4    15   17     10
6     3   16      2
8    18    3      4
10   17    9      1
12   13    9      2
14    9   15      5
16   17   17      1
18    3   15     17

In [ ]:
#reading files
df=pd.read_csv('ramen-ratings.csv')
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [ ]:
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [ ]:
#select the country col from data
df['Country']#==df.Country

0          Japan
1         Taiwan
2            USA
3         Taiwan
4          India
          ...
2575     Vietnam
2576    Thailand
2577    Thailand
2578    Thailand
2579         USA
Name: Country, Length: 2580, dtype: object

In [ ]:
df.iloc[0,:] #to return the first row with all data in all cols we  use .iloc

Review #                         2580
Brand                       New Touch
Variety     T's Restaurant Tantanmen
Style                             Cup
Country                         Japan
Stars                            3.75
Top Ten                           NaN
Name: 0, dtype: object

In [ ]:
df.iloc[:,0]   #all rows with one col

0       2580
1       2579
2       2578
3       2577
4       2576
        ...
2575       5
2576       4
2577       3
2578       2
2579       1
Name: Review #, Length: 2580, dtype: int64

In [ ]:
df.iloc[:3,:] #first 3 rows with all cols

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN

In [ ]:
df.iloc[:,-1] #select the last col

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2575    NaN
2576    NaN
2577    NaN
2578    NaN
2579    NaN
Name: Top Ten, Length: 2580, dtype: object

In [ ]:
df.iloc[[1,2,40],:] # Fancy indexing ,you determine the num of rows you need to choose

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
40,2540,Wei Lih,GGE Noodle Snack Wheat Crackers Mexican Spicy,Pack,Taiwan,3.25,NaN

In [ ]:
df.iloc[-10:,:] #select the last 10 rows

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
2570,10,Smack,Vegetable Beef,Pack,USA,1.5,NaN
2571,9,Sutah,Cup Noodle,Cup,South Korea,2,NaN
2572,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3,NaN
2573,7,Ve Wong,Mushroom Pork,Pack,Vietnam,1,NaN
2574,6,Vifon,Nam Vang,Pack,Vietnam,2.5,NaN
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

Select Brand ,style and stars columns

In [ ]:
df.loc[:,['Brand','Style','Stars']]

               Brand Style Stars
0          New Touch   Cup  3.75
1           Just Way  Pack     1
2             Nissin   Cup  2.25
3            Wei Lih  Pack  2.75
4     Ching's Secret  Pack  3.75
...              ...   ...   ...
2575           Vifon  Bowl   3.5
2576         Wai Wai  Pack     1
2577         Wai Wai  Pack     2
2578         Wai Wai  Pack     2
2579        Westbrae  Pack   0.5

[2580 rows x 3 columns]

Differene letween iloc and loc

In [ ]:
df.iloc[1:4,:] # هنا ماشى بال indexing من 1 الى ما قبل 4

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN

In [ ]:
df.loc[1:4,:] #rows عشان كده بيطبع كل مايخص من 1:4  شايف من 1:4 انهم اسماء ال

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [ ]:
df.set_index('Variety') # x is to change the row labels of the data frame to make it easier to access and manipulate the data based on the values of a specific column

,Review #,Brand,Style,Country,Stars,Top Ten
Variety,,,,,,
T's Restaurant Tantanmen,2580,New Touch,Cup,Japan,3.75,NaN
Noodles Spicy Hot Sesame Spicy Hot Sesame Guan-miao Noodles,2579,Just Way,Pack,Taiwan,1,NaN
Cup Noodles Chicken Vegetable,2578,Nissin,Cup,USA,2.25,NaN
GGE Ramen Snack Tomato Flavor,2577,Wei Lih,Pack,Taiwan,2.75,NaN
Singapore Curry,2576,Ching's Secret,Pack,India,3.75,NaN
...,...,...,...,...,...,...
"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Style Instant Rice Noodles",5,Vifon,Bowl,Vietnam,3.5,NaN
Oriental Style Instant Noodles,4,Wai Wai,Pack,Thailand,1,NaN
Tom Yum Shrimp,3,Wai Wai,Pack,Thailand,2,NaN
Tom Yum Chili Flavor,2,Wai Wai,Pack,Thailand,2,NaN
Miso Ramen,1,Westbrae,Pack,USA,0.5,NaN

# conditional selection

In [ ]:
df=pd.read_csv('ramen-ratings.csv')
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [ ]:
#1-underastanding data ,ask interesting questions
df['Country']

0          Japan
1         Taiwan
2            USA
3         Taiwan
4          India
          ...
2575     Vietnam
2576    Thailand
2577    Thailand
2578    Thailand
2579         USA
Name: Country, Length: 2580, dtype: object

In [ ]:
#let's have a look at the dishes in Taiwan
df['Country']=='Taiwan'

0       False
1        True
2       False
3        True
4       False
        ...
2575    False
2576    False
2577    False
2578    False
2579    False
Name: Country, Length: 2580, dtype: bool

In [ ]:
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [ ]:
df.loc[df['Country']=='Taiwan'] #==df.loc[df.Country=='Taiwan']

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
40,2540,Wei Lih,GGE Noodle Snack Wheat Crackers Mexican Spicy,Pack,Taiwan,3.25,NaN
65,2515,Uni-President,Man Han Feast Spicy Beef Flavor Instant Noodles,Bowl,Taiwan,5,NaN
68,2512,Mom's Dry Noodle,Dan Dan Noodle,Pack,Taiwan,5,NaN
...,...,...,...,...,...,...,...
2500,80,Unif / Tung-I,Artificial Chicken,Pack,Taiwan,3.5,NaN
2512,68,Wei Lih,Jah Jan Mien Instant Noodle With Fried Soybean...,Pack,Taiwan,4,NaN
2522,58,Ve Wong,A-One Bun Tom Shrimp,Pack,Taiwan,3,NaN
2537,43,Kim Ve Wong,Jaopai Series: Vegetarian Instant Noodles,Bowl,Taiwan,0,NaN
2572,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3,NaN

In [ ]:
df[df['Country']=='Taiwan']

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
40,2540,Wei Lih,GGE Noodle Snack Wheat Crackers Mexican Spicy,Pack,Taiwan,3.25,NaN
65,2515,Uni-President,Man Han Feast Spicy Beef Flavor Instant Noodles,Bowl,Taiwan,5,NaN
68,2512,Mom's Dry Noodle,Dan Dan Noodle,Pack,Taiwan,5,NaN
...,...,...,...,...,...,...,...
2500,80,Unif / Tung-I,Artificial Chicken,Pack,Taiwan,3.5,NaN
2512,68,Wei Lih,Jah Jan Mien Instant Noodle With Fried Soybean...,Pack,Taiwan,4,NaN
2522,58,Ve Wong,A-One Bun Tom Shrimp,Pack,Taiwan,3,NaN
2537,43,Kim Ve Wong,Jaopai Series: Vegetarian Instant Noodles,Bowl,Taiwan,0,NaN
2572,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3,NaN

In [ ]:
df['Stars'] #look at dtype == object

0       3.75
1          1
2       2.25
3       2.75
4       3.75
        ...
2575     3.5
2576       1
2577       2
2578       2
2579     0.5
Name: Stars, Length: 2580, dtype: object

In [ ]:
Stars=df['Stars'].astype(float)

ValueError: could not convert string to float: 'Unrated'

In [ ]:
df.loc[df['Stars'].astype(float)>=2.5] #converting  frrom dtype to num using astype
# we have here a problem as there is value cannot change to num 'unrated' so we use conditional selecting

ValueError: could not convert string to float: 'Unrated'

In [ ]:
#conditional selecting ,remove the value that equal unrated

In [ ]:
df=df.loc[df.Stars!='Unrated']
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [ ]:
df[df.Stars.astype(float)>2.5] #we can use .loc or we cannot

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
5,2575,Samyang Foods,Kimchi song Song Ramen,Pack,South Korea,4.75,NaN
6,2574,Acecook,Spice Deli Tantan Men With Cilantro,Cup,Japan,4.00,NaN
...,...,...,...,...,...,...,...
2564,16,Samyang,Kalgug-Su (Spicy),Pack,South Korea,3.50,NaN
2566,14,Samyang,Hot,Pack,South Korea,3.50,NaN
2567,13,Sapporo Ichiban,Chow Mein,Pack,Japan,5.00,2012 #4
2572,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3.00,NaN
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN

In [ ]:
#served dishes in Taiwan with above avg ratings
df[(df.Country=='Taiwan')&(df.Stars>2.5)]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
40,2540,Wei Lih,GGE Noodle Snack Wheat Crackers Mexican Spicy,Pack,Taiwan,3.25,NaN
65,2515,Uni-President,Man Han Feast Spicy Beef Flavor Instant Noodles,Bowl,Taiwan,5.00,NaN
68,2512,Mom's Dry Noodle,Dan Dan Noodle,Pack,Taiwan,5.00,NaN
79,2501,Happy Cook,Toona Paste Noodle,Pack,Taiwan,4.00,NaN
...,...,...,...,...,...,...,...
2499,81,Unif / Tung-I,Artificial Spicy Beef,Pack,Taiwan,3.50,NaN
2500,80,Unif / Tung-I,Artificial Chicken,Pack,Taiwan,3.50,NaN
2512,68,Wei Lih,Jah Jan Mien Instant Noodle With Fried Soybean...,Pack,Taiwan,4.00,NaN
2522,58,Ve Wong,A-One Bun Tom Shrimp,Pack,Taiwan,3.00,NaN
2572,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3.00,NaN

In [ ]:
df.loc[(df.Country == 'Taiwan') & (df.Stars > 2.5),['Country','Brand','Style']]

     Country             Brand Style
3     Taiwan           Wei Lih  Pack
40    Taiwan           Wei Lih  Pack
65    Taiwan     Uni-President  Bowl
68    Taiwan  Mom's Dry Noodle  Pack
79    Taiwan        Happy Cook  Pack
...      ...               ...   ...
2499  Taiwan     Unif / Tung-I  Pack
2500  Taiwan     Unif / Tung-I  Pack
2512  Taiwan           Wei Lih  Pack
2522  Taiwan           Ve Wong  Pack
2572  Taiwan            Tung-I  Pack

[191 rows x 3 columns]

In [ ]:
#Have a look at the dishes in both Finland and sweden

In [ ]:
df[df.Country=='Finland']

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
675,1905,Pirkka,Nuudeli Kana Nudlar Kyckling,Pack,Finland,3.50,NaN
816,1764,Pirkka,Nuudeli Tom Yum Katkarapu,Pack,Finland,3.75,NaN
856,1724,Pirkka,Nuudeli Liha Nudlar Kott,Pack,Finland,3.50,NaN

In [ ]:
df[df.Country=='Sweden']

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
1026,1554,ICA,Asia Fast Noodles Snabbnudlar Räksmak,Pack,Sweden,3.00,NaN
1063,1517,Katoz,Instant Noodles Spicy Chili,Pack,Sweden,3.50,NaN
1093,1487,ICA,Asia Snabbnudlar Kycklingsmak,Pack,Sweden,3.25,NaN

In [ ]:
df[df.Country.isin(['Finland','Sweden'])] #(isin)fun return in all things  in array

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
675,1905,Pirkka,Nuudeli Kana Nudlar Kyckling,Pack,Finland,3.50,NaN
816,1764,Pirkka,Nuudeli Tom Yum Katkarapu,Pack,Finland,3.75,NaN
856,1724,Pirkka,Nuudeli Liha Nudlar Kott,Pack,Finland,3.50,NaN
1026,1554,ICA,Asia Fast Noodles Snabbnudlar Räksmak,Pack,Sweden,3.00,NaN
1063,1517,Katoz,Instant Noodles Spicy Chili,Pack,Sweden,3.50,NaN
1093,1487,ICA,Asia Snabbnudlar Kycklingsmak,Pack,Sweden,3.25,NaN

In [ ]:
df[df['Top Ten'].isnull()] #returning null value

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.50,NaN

In [ ]:
df[~df['Top Ten'].isnull()] #using logical operator ~ to return non null value

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
616,1964,MAMA,Instant Noodles Coconut Milk Flavour,Pack,Myanmar,5.00,2016 #10
633,1947,Prima Taste,Singapore Laksa Wholegrain La Mian,Pack,Singapore,5.00,2016 #1
655,1925,Prima,Juzz's Mee Creamy Chicken Flavour,Pack,Singapore,5.00,2016 #8
673,1907,Prima Taste,Singapore Curry Wholegrain La Mian,Pack,Singapore,5.00,2016 #5
752,1828,Tseng Noodles,Scallion With Sichuan Pepper Flavor,Pack,Taiwan,5.00,2016 #9
891,1689,Wugudaochang,Tomato Beef Brisket Flavor Purple Potato Noodle,Pack,China,5.00,2016 #7
942,1638,A-Sha Dry Noodle,Veggie Noodle Tomato Noodle With Vine Ripened ...,Pack,Taiwan,5.00,2015 #10
963,1617,MyKuali,Penang Hokkien Prawn Noodle (New Improved Taste),Pack,Malaysia,5.00,2015 #7
995,1585,CarJEN,Nyonya Curry Laksa,Pack,Malaysia,5.00,2015 #4
1059,1521,Maruchan,Gotsumori Sauce Yakisoba,Tray,Japan,5.00,2015 #9
1072,1508,Mamee,Chef Gold Recipe Mi Kari Seribu Rasa,Pack,Malaysia,5.00,2015 #6
1080,1500,MyKuali,Penang Red Tom Yum Goong Noodle,Pack,Malaysia,5.00,2015 #1
1109,1471,Mama,Instant Noodles Shrimp Creamy Tom Yum Flavour ...,Pack,Thailand,5.00,2013 #10
1114,1466,Mama,Oriental Style Instant Noodles Green Curry Fla...,Pack,Thailand,5.00,2015 #8
1230,1350,Mamee,Chef Curry Laksa Flavour,Pack,Malaysia,5.00,2014 #7
1250,1330,Sapporo Ichiban,Otafuku Okonomi Sauce Yakisoba,Tray,Japan,5.00,2014 #4
1272,1308,Nongshim,Soon Veggie Noodle Soup,Pack,South Korea,5.00,2014 #9
1278,1302,Mama,Instant Noodles Yentafo Tom Yum Mohfai Flavour,Pack,Thailand,5.00,2014 #10
1309,1271,Prima Taste,Singapore Chilli Crab La Mian,Pack,Singapore,5.00,2014 #8
1382,1198,Samyang Foods,Maesaengyitangmyun Baked Noodle,Pack,South Korea,5.00,2014 #5
1397,1183,Paldo,Cheese Noodle,Pack,South Korea,5.00,2014 #6
1493,1087,MyKuali,Penang White Curry Noodle,Pack,Malaysia,5.00,2014 #1
1588,992,Prima Taste,Singapore Laksa La Mian,Pack,Singapore,5.00,2013 #1
1589,991,Prima Taste,Singapore Curry La Mian,Pack,Singapore,5.00,2013 #2
1646,934,Nongshim,Jinjja Jinjja Flamin' Hot & Nutty,Pack,USA,5.00,2013 #4
1670,910,Paldo,Namja Ramyun,Bowl,South Korea,4.25,\n
1757,823,Paldo,Kokomen Spicy Chicken,Pack,South Korea,5.00,2013 #9
1846,734,Indomie,Mi Goreng Rasa Ayam Panggang Jumbo (Local),Pack,Indonesia,5.00,\n
1865,715,Indomie,Mi Goreng Rendang (Import),Pack,Indonesia,5.00,2013 #3
1972,608,Koka,Spicy Black Pepper,Pack,Singapore,5.00,2012 #10
2002,578,Nongshim,Shin Ramyun Black,Pack,South Korea,4.75,2012 #7
2146,434,Mi Sedaap,Kari Spesial,Pack,Indonesia,4.50,2012 #5
2188,392,Nissin,Yakisoba Noodles Karashi,Tray,Japan,5.00,2012 #3
2189,391,Myojo,Hyoubanya No Chukasoba Oriental,Pack,Japan,4.25,2012 #6
2248,332,Nongshim,Champong Oriental Noodles,Cup,South Korea,3.75,\n
2295,285,Doll,Artificial Chicken,Pack,Hong Kong,4.50,2012 #9
2475,105,Indomie,Special Fried Curly Noodle,Pack,Indonesia,5.00,2012 #1
2533,47,Indomie,Mi Goreng Jumbo Barbecue Chicken,Pack,Indonesia,5.00,2012 #2
2535,45,Indomie,Mi Goreng Sate,Pack,Indonesia,5.00,\n
2549,31,Myojo,Ippeichan Yakisoba,Tray,Japan,4.00,2013 #6
2567,13,Sapporo Ichiban,Chow Mein,Pack,Japan,5.00,2012 #4

In [ ]:
df[df['Top Ten'].notnull()]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
616,1964,MAMA,Instant Noodles Coconut Milk Flavour,Pack,Myanmar,5.00,2016 #10
633,1947,Prima Taste,Singapore Laksa Wholegrain La Mian,Pack,Singapore,5.00,2016 #1
655,1925,Prima,Juzz's Mee Creamy Chicken Flavour,Pack,Singapore,5.00,2016 #8
673,1907,Prima Taste,Singapore Curry Wholegrain La Mian,Pack,Singapore,5.00,2016 #5
752,1828,Tseng Noodles,Scallion With Sichuan Pepper Flavor,Pack,Taiwan,5.00,2016 #9
891,1689,Wugudaochang,Tomato Beef Brisket Flavor Purple Potato Noodle,Pack,China,5.00,2016 #7
942,1638,A-Sha Dry Noodle,Veggie Noodle Tomato Noodle With Vine Ripened ...,Pack,Taiwan,5.00,2015 #10
963,1617,MyKuali,Penang Hokkien Prawn Noodle (New Improved Taste),Pack,Malaysia,5.00,2015 #7
995,1585,CarJEN,Nyonya Curry Laksa,Pack,Malaysia,5.00,2015 #4
1059,1521,Maruchan,Gotsumori Sauce Yakisoba,Tray,Japan,5.00,2015 #9
1072,1508,Mamee,Chef Gold Recipe Mi Kari Seribu Rasa,Pack,Malaysia,5.00,2015 #6
1080,1500,MyKuali,Penang Red Tom Yum Goong Noodle,Pack,Malaysia,5.00,2015 #1
1109,1471,Mama,Instant Noodles Shrimp Creamy Tom Yum Flavour ...,Pack,Thailand,5.00,2013 #10
1114,1466,Mama,Oriental Style Instant Noodles Green Curry Fla...,Pack,Thailand,5.00,2015 #8
1230,1350,Mamee,Chef Curry Laksa Flavour,Pack,Malaysia,5.00,2014 #7
1250,1330,Sapporo Ichiban,Otafuku Okonomi Sauce Yakisoba,Tray,Japan,5.00,2014 #4
1272,1308,Nongshim,Soon Veggie Noodle Soup,Pack,South Korea,5.00,2014 #9
1278,1302,Mama,Instant Noodles Yentafo Tom Yum Mohfai Flavour,Pack,Thailand,5.00,2014 #10
1309,1271,Prima Taste,Singapore Chilli Crab La Mian,Pack,Singapore,5.00,2014 #8
1382,1198,Samyang Foods,Maesaengyitangmyun Baked Noodle,Pack,South Korea,5.00,2014 #5
1397,1183,Paldo,Cheese Noodle,Pack,South Korea,5.00,2014 #6
1493,1087,MyKuali,Penang White Curry Noodle,Pack,Malaysia,5.00,2014 #1
1588,992,Prima Taste,Singapore Laksa La Mian,Pack,Singapore,5.00,2013 #1
1589,991,Prima Taste,Singapore Curry La Mian,Pack,Singapore,5.00,2013 #2
1646,934,Nongshim,Jinjja Jinjja Flamin' Hot & Nutty,Pack,USA,5.00,2013 #4
1670,910,Paldo,Namja Ramyun,Bowl,South Korea,4.25,\n
1757,823,Paldo,Kokomen Spicy Chicken,Pack,South Korea,5.00,2013 #9
1846,734,Indomie,Mi Goreng Rasa Ayam Panggang Jumbo (Local),Pack,Indonesia,5.00,\n
1865,715,Indomie,Mi Goreng Rendang (Import),Pack,Indonesia,5.00,2013 #3
1972,608,Koka,Spicy Black Pepper,Pack,Singapore,5.00,2012 #10
2002,578,Nongshim,Shin Ramyun Black,Pack,South Korea,4.75,2012 #7
2146,434,Mi Sedaap,Kari Spesial,Pack,Indonesia,4.50,2012 #5
2188,392,Nissin,Yakisoba Noodles Karashi,Tray,Japan,5.00,2012 #3
2189,391,Myojo,Hyoubanya No Chukasoba Oriental,Pack,Japan,4.25,2012 #6
2248,332,Nongshim,Champong Oriental Noodles,Cup,South Korea,3.75,\n
2295,285,Doll,Artificial Chicken,Pack,Hong Kong,4.50,2012 #9
2475,105,Indomie,Special Fried Curly Noodle,Pack,Indonesia,5.00,2012 #1
2533,47,Indomie,Mi Goreng Jumbo Barbecue Chicken,Pack,Indonesia,5.00,2012 #2
2535,45,Indomie,Mi Goreng Sate,Pack,Indonesia,5.00,\n
2549,31,Myojo,Ippeichan Yakisoba,Tray,Japan,4.00,2013 #6
2567,13,Sapporo Ichiban,Chow Mein,Pack,Japan,5.00,2012 #4

# Assigning data

In [ ]:
df['Brand']='hi' #making all value =hi
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,hi,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,hi,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN
2,2578,hi,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,hi,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,hi,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,hi,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN
2576,4,hi,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN
2577,3,hi,Tom Yum Shrimp,Pack,Thailand,2.00,NaN
2578,2,hi,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN
2579,1,hi,Miso Ramen,Pack,USA,0.50,NaN

In [ ]:
df['IsStyleCup']=(df['Style']=='Cup') #making new col store in it the value
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,IsStyleCup
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,True
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN,False
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,True
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,False
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN,False
...,...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN,False
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN,False
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,NaN,False
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN,False
2579,1,Westbrae,Miso Ramen,Pack,USA,0.50,NaN,False

In [ ]:
df['Review #']=list(range(1,2578))
df['Review #']

0          1
1          2
2          3
3          4
4          5
        ...
2575    2573
2576    2574
2577    2575
2578    2576
2579    2577
Name: Review #, Length: 2577, dtype: int64

In [ ]:
list(range(1,2379))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...]

In [ ]:
df.loc[:,'Review #']=list(range(1,2578))

In [ ]:
df['Review #']

0          1
1          2
2          3
3          4
4          5
        ...
2575    2573
2576    2574
2577    2575
2578    2576
2579    2577
Name: Review #, Length: 2577, dtype: int64

# Handling Missing value

In [ ]:
df=pd.read_csv('ramen-ratings.csv')
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [ ]:
df.isnull().sum #count th num of null values in all data

<bound method NDFrame._add_numeric_operations.<locals>.sum of       Review #  Brand  Variety  Style  Country  Stars  Top Ten
0        False  False    False  False    False  False     True
1        False  False    False  False    False  False     True
2        False  False    False  False    False  False     True
3        False  False    False  False    False  False     True
4        False  False    False  False    False  False     True
...        ...    ...      ...    ...      ...    ...      ...
2575     False  False    False  False    False  False     True
2576     False  False    False  False    False  False     True
2577     False  False    False  False    False  False     True
2578     False  False    False  False    False  False     True
2579     False  False    False  False    False  False     True

[2580 rows x 7 columns]>

In [ ]:
df.isnull().sum(axis=0) ##count th num of null values in every col

Review #       0
Brand          0
Variety        0
Style          2
Country        0
Stars          0
Top Ten     2539
dtype: int64

In [ ]:
df.shape # we can find the rate of null value in top ten is very big comparing to the value of data while style too small so top ten we should drop it as it affect in accuracy of data

(2580, 7)

# dropna()

Drop the rows that contain nan

In [ ]:
df.shape

(2580, 7)

df.dropna()
df

In [ ]:
df.dropna().shape #after removing all null value in data shape decrease  to 41

(41, 7)

In [ ]:
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

Drop columns that contain nan

In [ ]:
df.dropna(axis=1) # we can obseve droping col =style , top ten

,Review #,Brand,Variety,Country,Stars
0,2580,New Touch,T's Restaurant Tantanmen,Japan,3.75
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Taiwan,1
2,2578,Nissin,Cup Noodles Chicken Vegetable,USA,2.25
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Taiwan,2.75
4,2576,Ching's Secret,Singapore Curry,India,3.75
...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Vietnam,3.5
2576,4,Wai Wai,Oriental Style Instant Noodles,Thailand,1
2577,3,Wai Wai,Tom Yum Shrimp,Thailand,2
2578,2,Wai Wai,Tom Yum Chili Flavor,Thailand,2
2579,1,Westbrae,Miso Ramen,USA,0.5

In [ ]:
df.dropna(axis='columns')

,Review #,Brand,Variety,Country,Stars
0,2580,New Touch,T's Restaurant Tantanmen,Japan,3.75
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Taiwan,1
2,2578,Nissin,Cup Noodles Chicken Vegetable,USA,2.25
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Taiwan,2.75
4,2576,Ching's Secret,Singapore Curry,India,3.75
...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Vietnam,3.5
2576,4,Wai Wai,Oriental Style Instant Noodles,Thailand,1
2577,3,Wai Wai,Tom Yum Shrimp,Thailand,2
2578,2,Wai Wai,Tom Yum Chili Flavor,Thailand,2
2579,1,Westbrae,Miso Ramen,USA,0.5

In [ ]:
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [ ]:
df.dropna(axis=1,inplace=True) # inplace لو ب true هيغير ف الداتا الاصليه و يمسح منها العواميد اللى فيها null

In [ ]:
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
616,1964,MAMA,Instant Noodles Coconut Milk Flavour,Pack,Myanmar,5,2016 #10
633,1947,Prima Taste,Singapore Laksa Wholegrain La Mian,Pack,Singapore,5,2016 #1
655,1925,Prima,Juzz's Mee Creamy Chicken Flavour,Pack,Singapore,5,2016 #8
673,1907,Prima Taste,Singapore Curry Wholegrain La Mian,Pack,Singapore,5,2016 #5
752,1828,Tseng Noodles,Scallion With Sichuan Pepper Flavor,Pack,Taiwan,5,2016 #9
891,1689,Wugudaochang,Tomato Beef Brisket Flavor Purple Potato Noodle,Pack,China,5,2016 #7
942,1638,A-Sha Dry Noodle,Veggie Noodle Tomato Noodle With Vine Ripened ...,Pack,Taiwan,5,2015 #10
963,1617,MyKuali,Penang Hokkien Prawn Noodle (New Improved Taste),Pack,Malaysia,5,2015 #7
995,1585,CarJEN,Nyonya Curry Laksa,Pack,Malaysia,5,2015 #4
1059,1521,Maruchan,Gotsumori Sauce Yakisoba,Tray,Japan,5,2015 #9
1072,1508,Mamee,Chef Gold Recipe Mi Kari Seribu Rasa,Pack,Malaysia,5,2015 #6
1080,1500,MyKuali,Penang Red Tom Yum Goong Noodle,Pack,Malaysia,5,2015 #1
1109,1471,Mama,Instant Noodles Shrimp Creamy Tom Yum Flavour ...,Pack,Thailand,5,2013 #10
1114,1466,Mama,Oriental Style Instant Noodles Green Curry Fla...,Pack,Thailand,5,2015 #8
1230,1350,Mamee,Chef Curry Laksa Flavour,Pack,Malaysia,5,2014 #7
1250,1330,Sapporo Ichiban,Otafuku Okonomi Sauce Yakisoba,Tray,Japan,5,2014 #4
1272,1308,Nongshim,Soon Veggie Noodle Soup,Pack,South Korea,5,2014 #9
1278,1302,Mama,Instant Noodles Yentafo Tom Yum Mohfai Flavour,Pack,Thailand,5,2014 #10
1309,1271,Prima Taste,Singapore Chilli Crab La Mian,Pack,Singapore,5,2014 #8
1382,1198,Samyang Foods,Maesaengyitangmyun Baked Noodle,Pack,South Korea,5,2014 #5
1397,1183,Paldo,Cheese Noodle,Pack,South Korea,5,2014 #6
1493,1087,MyKuali,Penang White Curry Noodle,Pack,Malaysia,5,2014 #1
1588,992,Prima Taste,Singapore Laksa La Mian,Pack,Singapore,5,2013 #1
1589,991,Prima Taste,Singapore Curry La Mian,Pack,Singapore,5,2013 #2
1646,934,Nongshim,Jinjja Jinjja Flamin' Hot & Nutty,Pack,USA,5,2013 #4
1670,910,Paldo,Namja Ramyun,Bowl,South Korea,4.25,\n
1757,823,Paldo,Kokomen Spicy Chicken,Pack,South Korea,5,2013 #9
1846,734,Indomie,Mi Goreng Rasa Ayam Panggang Jumbo (Local),Pack,Indonesia,5,\n
1865,715,Indomie,Mi Goreng Rendang (Import),Pack,Indonesia,5,2013 #3
1972,608,Koka,Spicy Black Pepper,Pack,Singapore,5,2012 #10
2002,578,Nongshim,Shin Ramyun Black,Pack,South Korea,4.75,2012 #7
2146,434,Mi Sedaap,Kari Spesial,Pack,Indonesia,4.5,2012 #5
2188,392,Nissin,Yakisoba Noodles Karashi,Tray,Japan,5,2012 #3
2189,391,Myojo,Hyoubanya No Chukasoba Oriental,Pack,Japan,4.25,2012 #6
2248,332,Nongshim,Champong Oriental Noodles,Cup,South Korea,3.75,\n
2295,285,Doll,Artificial Chicken,Pack,Hong Kong,4.5,2012 #9
2475,105,Indomie,Special Fried Curly Noodle,Pack,Indonesia,5,2012 #1
2533,47,Indomie,Mi Goreng Jumbo Barbecue Chicken,Pack,Indonesia,5,2012 #2
2535,45,Indomie,Mi Goreng Sate,Pack,Indonesia,5,\n
2549,31,Myojo,Ippeichan Yakisoba,Tray,Japan,4,2013 #6
2567,13,Sapporo Ichiban,Chow Mein,Pack,Japan,5,2012 #4

In [ ]:
df=pd.read_csv('ramen-ratings.csv')
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

how{‘any’, ‘all’}, default ‘any’
Determine if row or column is removed from DataFrame, when we have at least one NA or all NA.

‘any’ : If any NA values are present, drop that row or column.

‘all’ : If all values are NA, drop that row or column.

In [ ]:
df.dropna(axis='rows',how='all') #In this case, the code specifies axis=‘rows’ and how=‘all’, which means it will only drop the rows that have all missing values 2.

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [ ]:
df.dropna(axis='rows',how='any')

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
616,1964,MAMA,Instant Noodles Coconut Milk Flavour,Pack,Myanmar,5,2016 #10
633,1947,Prima Taste,Singapore Laksa Wholegrain La Mian,Pack,Singapore,5,2016 #1
655,1925,Prima,Juzz's Mee Creamy Chicken Flavour,Pack,Singapore,5,2016 #8
673,1907,Prima Taste,Singapore Curry Wholegrain La Mian,Pack,Singapore,5,2016 #5
752,1828,Tseng Noodles,Scallion With Sichuan Pepper Flavor,Pack,Taiwan,5,2016 #9
891,1689,Wugudaochang,Tomato Beef Brisket Flavor Purple Potato Noodle,Pack,China,5,2016 #7
942,1638,A-Sha Dry Noodle,Veggie Noodle Tomato Noodle With Vine Ripened ...,Pack,Taiwan,5,2015 #10
963,1617,MyKuali,Penang Hokkien Prawn Noodle (New Improved Taste),Pack,Malaysia,5,2015 #7
995,1585,CarJEN,Nyonya Curry Laksa,Pack,Malaysia,5,2015 #4
1059,1521,Maruchan,Gotsumori Sauce Yakisoba,Tray,Japan,5,2015 #9
1072,1508,Mamee,Chef Gold Recipe Mi Kari Seribu Rasa,Pack,Malaysia,5,2015 #6
1080,1500,MyKuali,Penang Red Tom Yum Goong Noodle,Pack,Malaysia,5,2015 #1
1109,1471,Mama,Instant Noodles Shrimp Creamy Tom Yum Flavour ...,Pack,Thailand,5,2013 #10
1114,1466,Mama,Oriental Style Instant Noodles Green Curry Fla...,Pack,Thailand,5,2015 #8
1230,1350,Mamee,Chef Curry Laksa Flavour,Pack,Malaysia,5,2014 #7
1250,1330,Sapporo Ichiban,Otafuku Okonomi Sauce Yakisoba,Tray,Japan,5,2014 #4
1272,1308,Nongshim,Soon Veggie Noodle Soup,Pack,South Korea,5,2014 #9
1278,1302,Mama,Instant Noodles Yentafo Tom Yum Mohfai Flavour,Pack,Thailand,5,2014 #10
1309,1271,Prima Taste,Singapore Chilli Crab La Mian,Pack,Singapore,5,2014 #8
1382,1198,Samyang Foods,Maesaengyitangmyun Baked Noodle,Pack,South Korea,5,2014 #5
1397,1183,Paldo,Cheese Noodle,Pack,South Korea,5,2014 #6
1493,1087,MyKuali,Penang White Curry Noodle,Pack,Malaysia,5,2014 #1
1588,992,Prima Taste,Singapore Laksa La Mian,Pack,Singapore,5,2013 #1
1589,991,Prima Taste,Singapore Curry La Mian,Pack,Singapore,5,2013 #2
1646,934,Nongshim,Jinjja Jinjja Flamin' Hot & Nutty,Pack,USA,5,2013 #4
1670,910,Paldo,Namja Ramyun,Bowl,South Korea,4.25,\n
1757,823,Paldo,Kokomen Spicy Chicken,Pack,South Korea,5,2013 #9
1846,734,Indomie,Mi Goreng Rasa Ayam Panggang Jumbo (Local),Pack,Indonesia,5,\n
1865,715,Indomie,Mi Goreng Rendang (Import),Pack,Indonesia,5,2013 #3
1972,608,Koka,Spicy Black Pepper,Pack,Singapore,5,2012 #10
2002,578,Nongshim,Shin Ramyun Black,Pack,South Korea,4.75,2012 #7
2146,434,Mi Sedaap,Kari Spesial,Pack,Indonesia,4.5,2012 #5
2188,392,Nissin,Yakisoba Noodles Karashi,Tray,Japan,5,2012 #3
2189,391,Myojo,Hyoubanya No Chukasoba Oriental,Pack,Japan,4.25,2012 #6
2248,332,Nongshim,Champong Oriental Noodles,Cup,South Korea,3.75,\n
2295,285,Doll,Artificial Chicken,Pack,Hong Kong,4.5,2012 #9
2475,105,Indomie,Special Fried Curly Noodle,Pack,Indonesia,5,2012 #1
2533,47,Indomie,Mi Goreng Jumbo Barbecue Chicken,Pack,Indonesia,5,2012 #2
2535,45,Indomie,Mi Goreng Sate,Pack,Indonesia,5,\n
2549,31,Myojo,Ippeichan Yakisoba,Tray,Japan,4,2013 #6
2567,13,Sapporo Ichiban,Chow Mein,Pack,Japan,5,2012 #4

In [ ]:
df.dropna(subset=['Style']) #بيحذف اى قيم null جوا الstyle

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [ ]:
df.dropna(subset=['Style','Top Ten'])

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
616,1964,MAMA,Instant Noodles Coconut Milk Flavour,Pack,Myanmar,5,2016 #10
633,1947,Prima Taste,Singapore Laksa Wholegrain La Mian,Pack,Singapore,5,2016 #1
655,1925,Prima,Juzz's Mee Creamy Chicken Flavour,Pack,Singapore,5,2016 #8
673,1907,Prima Taste,Singapore Curry Wholegrain La Mian,Pack,Singapore,5,2016 #5
752,1828,Tseng Noodles,Scallion With Sichuan Pepper Flavor,Pack,Taiwan,5,2016 #9
891,1689,Wugudaochang,Tomato Beef Brisket Flavor Purple Potato Noodle,Pack,China,5,2016 #7
942,1638,A-Sha Dry Noodle,Veggie Noodle Tomato Noodle With Vine Ripened ...,Pack,Taiwan,5,2015 #10
963,1617,MyKuali,Penang Hokkien Prawn Noodle (New Improved Taste),Pack,Malaysia,5,2015 #7
995,1585,CarJEN,Nyonya Curry Laksa,Pack,Malaysia,5,2015 #4
1059,1521,Maruchan,Gotsumori Sauce Yakisoba,Tray,Japan,5,2015 #9
1072,1508,Mamee,Chef Gold Recipe Mi Kari Seribu Rasa,Pack,Malaysia,5,2015 #6
1080,1500,MyKuali,Penang Red Tom Yum Goong Noodle,Pack,Malaysia,5,2015 #1
1109,1471,Mama,Instant Noodles Shrimp Creamy Tom Yum Flavour ...,Pack,Thailand,5,2013 #10
1114,1466,Mama,Oriental Style Instant Noodles Green Curry Fla...,Pack,Thailand,5,2015 #8
1230,1350,Mamee,Chef Curry Laksa Flavour,Pack,Malaysia,5,2014 #7
1250,1330,Sapporo Ichiban,Otafuku Okonomi Sauce Yakisoba,Tray,Japan,5,2014 #4
1272,1308,Nongshim,Soon Veggie Noodle Soup,Pack,South Korea,5,2014 #9
1278,1302,Mama,Instant Noodles Yentafo Tom Yum Mohfai Flavour,Pack,Thailand,5,2014 #10
1309,1271,Prima Taste,Singapore Chilli Crab La Mian,Pack,Singapore,5,2014 #8
1382,1198,Samyang Foods,Maesaengyitangmyun Baked Noodle,Pack,South Korea,5,2014 #5
1397,1183,Paldo,Cheese Noodle,Pack,South Korea,5,2014 #6
1493,1087,MyKuali,Penang White Curry Noodle,Pack,Malaysia,5,2014 #1
1588,992,Prima Taste,Singapore Laksa La Mian,Pack,Singapore,5,2013 #1
1589,991,Prima Taste,Singapore Curry La Mian,Pack,Singapore,5,2013 #2
1646,934,Nongshim,Jinjja Jinjja Flamin' Hot & Nutty,Pack,USA,5,2013 #4
1670,910,Paldo,Namja Ramyun,Bowl,South Korea,4.25,\n
1757,823,Paldo,Kokomen Spicy Chicken,Pack,South Korea,5,2013 #9
1846,734,Indomie,Mi Goreng Rasa Ayam Panggang Jumbo (Local),Pack,Indonesia,5,\n
1865,715,Indomie,Mi Goreng Rendang (Import),Pack,Indonesia,5,2013 #3
1972,608,Koka,Spicy Black Pepper,Pack,Singapore,5,2012 #10
2002,578,Nongshim,Shin Ramyun Black,Pack,South Korea,4.75,2012 #7
2146,434,Mi Sedaap,Kari Spesial,Pack,Indonesia,4.5,2012 #5
2188,392,Nissin,Yakisoba Noodles Karashi,Tray,Japan,5,2012 #3
2189,391,Myojo,Hyoubanya No Chukasoba Oriental,Pack,Japan,4.25,2012 #6
2248,332,Nongshim,Champong Oriental Noodles,Cup,South Korea,3.75,\n
2295,285,Doll,Artificial Chicken,Pack,Hong Kong,4.5,2012 #9
2475,105,Indomie,Special Fried Curly Noodle,Pack,Indonesia,5,2012 #1
2533,47,Indomie,Mi Goreng Jumbo Barbecue Chicken,Pack,Indonesia,5,2012 #2
2535,45,Indomie,Mi Goreng Sate,Pack,Indonesia,5,\n
2549,31,Myojo,Ippeichan Yakisoba,Tray,Japan,4,2013 #6
2567,13,Sapporo Ichiban,Chow Mein,Pack,Japan,5,2012 #4

# fillna()

In [ ]:
df.fillna(0)#Replace all NaN elements with 0s.

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,0
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,0
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,0
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,0
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,0
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,0
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,0
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,0
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,0

In [ ]:
df1=df.fillna(0) # replace nan with 0

In [ ]:
df[df['Style'].isnull()]

      Review #   Brand            Variety Style Country Stars Top Ten
2152       428  Kamfen     E Menm Chicken   NaN   China  3.75     NaN
2442       138    Unif  100 Furong Shrimp   NaN  Taiwan     3     NaN

In [ ]:
df[df1['Style']==0]

      Review #   Brand            Variety Style Country Stars Top Ten
2152       428  Kamfen     E Menm Chicken   NaN   China  3.75     NaN
2442       138    Unif  100 Furong Shrimp   NaN  Taiwan     3     NaN

In [ ]:
df2=df.fillna({'Style':-1,'Top Ten':2})
df2

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,2
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,2
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,2
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,2
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,2
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,2
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,2
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,2
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,2
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,2

In [ ]:
df2.iloc[[2152,2442],:]

      Review #   Brand            Variety Style Country Stars Top Ten
2152       428  Kamfen     E Menm Chicken    -1   China  3.75       2
2442       138    Unif  100 Furong Shrimp    -1  Taiwan     3       2

In [ ]:
df2.fillna(method='ffill') #ffill لو عندى قيم null  و فوقها فيمه حقيقه الnullهتتمسح و تتملى بنفس القيمه

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,2
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,2
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,2
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,2
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,2
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,2
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,2
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,2
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,2
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,2

In [ ]:
df.Style.value_counts()

Pack    1531
Bowl     481
Cup      450
Tray     108
Box        6
Can        1
Bar        1
Name: Style, dtype: int64

In [ ]:
df.Stars.value_counts()

4          384
5          369
3.75       350
3.5        326
3          173
3.25       170
4.25       143
4.5        132
2.75        85
2           68
2.5         67
4.75        64
1.5         37
1.75        27
1           26
0           26
2.25        21
0.5         14
0.25        11
1.25        10
5.0         10
3.50         9
5.00         7
4.00         6
4.3          4
3.8          3
4.0          3
4.50         3
Unrated      3
1.1          2
2.8          2
2.9          2
4.125        2
2.3          2
3.1          2
3.0          2
2.1          1
0.9          1
0.75         1
3.125        1
2.125        1
3.00         1
0.1          1
3.3          1
3.7          1
3.4          1
3.6          1
2.85         1
3.2          1
3.65         1
1.8          1
Name: Stars, dtype: int64

In [ ]:
df.Stars=df.Stars.replace('Unrated',np.nan)

In [ ]:
df.Stars.value_counts()

4        384
5        369
3.75     350
3.5      326
3        173
3.25     170
4.25     143
4.5      132
2.75      85
2         68
2.5       67
4.75      64
1.5       37
1.75      27
1         26
0         26
2.25      21
0.5       14
0.25      11
1.25      10
5.0       10
3.50       9
5.00       7
4.00       6
4.3        4
3.8        3
4.0        3
4.50       3
4.125      2
3.1        2
1.1        2
2.9        2
2.3        2
3.0        2
2.8        2
2.85       1
3.6        1
3.65       1
3.4        1
3.7        1
3.2        1
3.3        1
0.1        1
2.125      1
3.125      1
0.9        1
2.1        1
0.75       1
3.00       1
1.8        1
Name: Stars, dtype: int64

In [ ]:
df.dropna(subset=['Stars'])

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

# Merging, Joining and Concatenating

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

# Concatenation pd.concat( )

In [ ]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
pd.concat([df1,df2,df3],axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [ ]:
df1 = pd.DataFrame({'key': ['K0', 'K2', 'K1', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K4'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})
df1

  key   A   B
0  K0  A0  B0
1  K2  A1  B1
2  K1  A2  B2
3  K3  A3  B3

In [ ]:
df2

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K4  C3  D3

In [ ]:
pd.concat([df1,df2])

  key    A    B    C    D
0  K0   A0   B0  NaN  NaN
1  K2   A1   B1  NaN  NaN
2  K1   A2   B2  NaN  NaN
3  K3   A3   B3  NaN  NaN
0  K0  NaN  NaN   C0   D0
1  K1  NaN  NaN   C1   D1
2  K2  NaN  NaN   C2   D2
3  K4  NaN  NaN   C3   D3

In [ ]:
pd.merge(df1,df2,how='inner',on="key")#ow='inner' الحاجات المشتركه,'outer'

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A1  B1  C2  D2
2  K1  A2  B2  C1  D1

In [ ]:
df3 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

df4 = pd.DataFrame({'key': ['K0', 'K1', 'K3', 'K5'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})
df3

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K3  A2  B2
3  K3  A3  B3

In [ ]:
df4

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K5  C3  D3

In [ ]:
pd.merge(df3,df4,how='inner',on="key") #k5 not common between df1 and df2

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1

In [ ]:
pd.merge(df3,df4,how='outer',on="key")#كل الى موجود و اللى مش مشترك ب nan

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1   C1   D1
2  K2   A2   B2   C2   D2
3  K3   A3   B3  NaN  NaN
4  K5  NaN  NaN   C3   D3

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2'])

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [ ]:
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [ ]:
right.join(left)

     C   D    A    B
K0  C0  D0   A0   B0
K2  C2  D2   A2   B2
K3  C3  D3  NaN  NaN

# Pivot tables

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
df=sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
df['sex'].value_counts()

male      577
female    314
Name: sex, dtype: int64

In [ ]:
df['who'].value_counts()

man      537
woman    271
child     83
Name: who, dtype: int64

In [ ]:
df.pivot_table(index='sex',columns='class',values='survived',aggfunc='mean')

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [ ]:
df.pivot_table(index='who',values='survived',aggfunc='count')

       survived
who
child        83
man         537
woman       271

In [ ]:
df.pivot_table(index='who',values=['survived','age'],aggfunc={'survived':'mean','age':'count'},columns='class')

        age               survived
class First Second Third     First    Second     Third
who
child     6     19    58  0.833333  1.000000  0.431034
man      98     90   225  0.352941  0.080808  0.119122
woman    82     64    72  0.978022  0.909091  0.491228

# Group by

In [ ]:
import pandas as pd
df=pd.read_csv('ramen-ratings.csv')
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [ ]:
data=df.groupby('Brand')

In [ ]:
data.mean()

                     Review #
Brand
1 To 3 Noodles    2351.000000
7 Select          2120.500000
7 Select/Nissin   1703.000000
A-One             1539.250000
A-Sha Dry Noodle  1524.269231
...                       ...
Yum Yum           1212.166667
Yum-Mie           2554.000000
Zow Zow           2058.000000
iMee              1814.000000
iNoodle            431.500000

[355 rows x 1 columns]

In [ ]:
df.groupby('Brand').mean()

                     Review #
Brand
1 To 3 Noodles    2351.000000
7 Select          2120.500000
7 Select/Nissin   1703.000000
A-One             1539.250000
A-Sha Dry Noodle  1524.269231
...                       ...
Yum Yum           1212.166667
Yum-Mie           2554.000000
Zow Zow           2058.000000
iMee              1814.000000
iNoodle            431.500000

[355 rows x 1 columns]

In [ ]:
df.groupby('Brand')[['Review #']].count()

                  Review #
Brand
1 To 3 Noodles           1
7 Select                 2
7 Select/Nissin          1
A-One                    4
A-Sha Dry Noodle        26
...                    ...
Yum Yum                 12
Yum-Mie                  1
Zow Zow                  1
iMee                     4
iNoodle                  2

[355 rows x 1 columns]