In [ ]:
import pandas as pd
import re

In [ ]:
data={'name':['alaa ebraheem','ibrahim ahmed','yasmeen omar'],
     'email':['alaa.doe@example.com', 'ibrahim.smith@example.com', 'yasmeen.johnson@example.com']}
data=pd.DataFrame(data)
data

            name                        email
0  alaa ebraheem         alaa.doe@example.com
1  ibrahim ahmed    ibrahim.smith@example.com
2   yasmeen omar  yasmeen.johnson@example.com

# Masking Data with Regular Expressions

Data masking is a vital technique for protecting sensitive data.

In [ ]:

def mask_email(email):
    return re.sub('[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}','xxxxx@xxxxx.com',email)

In [ ]:
data['email']=data['email'].apply(mask_email)

In [ ]:
data

            name            email
0  alaa ebraheem  xxxxx@xxxxx.com
1  ibrahim ahmed  xxxxx@xxxxx.com
2   yasmeen omar  xxxxx@xxxxx.com